/*body {
    background-color: #fec356;
    color: black;
}*/

h1 {
    background-color: goldenrod;
    color: black;
}

p {
    background-color: white;
    color: black;
}

h2 {
    background-color: darkgoldenrod;
    color: black;
}

ul {
    background-color: gold;
    color: black;
}
